.loginBody {
    background-color: #2D2D2D;
    color: white;
    background-image: linear-gradient(#00000080,#00000080) , url(./../../../assets/bg.jpg);
}

.formLogin {
    background-color: #000000b2;
    width: 450px ;
    height: 80vh;
    border-radius: 5px;
}
